*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root,:root.light {
  --el-clr: hsl(0, 0%, 100%);
  --bg-clr: hsl(0, 0%, 98%);
  --text-clr: hsl(200, 15%, 8%);
}
:root.dark {
  --bg-clr: hsl(207, 26%, 17%);
  --el-clr: hsl(209, 23%, 22%);
  --text-clr: hsl(0, 0%, 100%);
}
body{
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background-color: var(--bg-clr);
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--el-clr);
  padding: 1em;
}
input,select{
  display: block;
}
@media (min-width:60rem){
.flex-input{
display: flex;
 align-items: center;
  justify-content: space-between;
}
}
